@media screen and (max-width: 768px){
  .header_bottom{
    height:60px;
    align-items: center;
  }
  .logo{
    margin: auto;
  }
  .hamburger{
    margin-left: 10px;
  }
  .header_bottom-list li{
    display: none;
  }
  .header_top{
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 999px){
  .header_bottom{
    height:120px;
  }
  .hamburger{
    display: none;
  }
  .logo{
    margin-left: 20px;
  }
}
@media screen and (min-width: 1000px){
  .header_bottom{
    height:60px;
  }
  .hamburger{
    display: none;
  }
  .logo{
    margin-left: 10px;
  }
}
// --------------------------------------------
header{
  background-color: $blackColor;
  width: 100%;
}
.header_top{
  height: 50px;
  ul{
    @include displayFlex;
    justify-content: flex-end;
  }
  i{
    color:$blueColor;
    padding:0 5px;
    font-size: 13px;
  }
  li{
    font-size: 11px;
    padding: 10px 16px;
    a{
      color : $greyColor;
      text-decoration: none;
    }
    select{
      padding: 2px;
    }
  }
}
.header_top li:hover a{
  color:white;
  text-decoration: underline;
}
.header_bottom{
  @include displayFlex;
  ul{
    @include displayFlex;
    align-items: center;
    flex-wrap: wrap;
  }
  li{
    color:white;
    padding: 0 20px;
    font-size: 13px;
    @include cursor;
    line-height: 60px;
    i{
      color: $greyColor;
      font-size: 13px;
      padding-left: 3px;
    }
  }
}
.header_bottom li:hover{
  background-color: white;
  color: $greyColor;
}
.logo{
  @include cursor;
  display: flex;
  align-self: center;
}
.img_logo{
  height: 24px;
  width: 90px;
  vertical-align: middle;
}
.hamburger{
  color:white;
  @include cursor;
  width: 38px;
  border-radius: 5px;
  text-align: center;
}
.hamburger:hover{
  background-color: rgb(51, 51, 51);
}
