@media screen and (max-width: 768px){
}
@media screen and (min-width: 769px) and (max-width: 999px){
  .hero{
    height: 500px;
    width: 100%;
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
}
@media screen and (min-width: 1000px){
  .hero{
    height:500px;
    width: 100%;
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
}
// ----------------------------------------------------------
.flex{
  @include displayFlex;
}
.hero_right{
  height: 450px;
  margin-top: 50px;
  width: calc(100% / 3);
  background-color: $blackColor;
}
.hero_center{
  height: 450px;
  margin-top: 50px;
  width: calc(100% / 3);
  width: calc(100% / 3);
}
.hero_left{
  width: calc(100% / 3);
  height: 450px;
  margin-top: 50px;
  width: calc(100% / 3);
  @include displayFlex;
  color: $whiteColor;
  font-size: 13px;
}
.si{
  align-self: flex-end;
  margin-bottom: 50px;
}
.hero_center{
 color:white;
}
.hero_center_list{
  li{
    margin: 15px 0;
    font-size: 16px;
  }
  i{
   color:$greyColor;
   padding-right: 5px;
  }
}
.hero_center_down{
  width: 55%;
  background-color: rgb(91,91,90);
  padding: 10px;
  @include displayFlex;
  @include cursor;
  .down{
    border-right: 1px solid white;
    padding-right: 30px;
    span{
      font-size: 13px;
    }
  }
  i{
    color:white;
    align-self: center;
    font-size: 25px;
    padding-left: 10px;
    margin-right: 0;
  }
}
.hero_center_list:last-child{
  margin-top: 20px;
}
